In [1]:
from baseline.main_model import *
import pandas as pd
import numpy as np
import os
import copy  
import json
import pickle
from tqdm import tqdm

pd.options.display.float_format = '{:.4f}'.format

In [2]:
d = '2021-12-02'

# Testing

In [3]:
def agg_intraday_daily(intraday_data, daily_data):
    '''Aggregate intraday and daily data for a specific symbol.'''
    intraday_data, daily_data = eliminate_half_days(intraday_data, daily_data)
    daily_data['daily_vol_pct'] = daily_data['total_vol_m'].rank(pct=True)
    df = intraday_data.merge(daily_data[['DATE', 'symbol', 'total_vol_m', 'overnight_gap', 'daily_vol_pct']], how='left', left_on=['date', 'symbol'],
                     right_on=['DATE', 'symbol'])
    df.index = pd.DatetimeIndex(df['datetime'])
    df['time'] = df.index.time
    df.drop(columns=['DATE', 'datetime'], inplace=True)
    df = df.between_time('09:31:00', '15:59:00')
    df['%_vol'] = df['size'] / df['total_vol_m']
    df = df.drop('sym_suffix', 1)  #add new line
    return df

# Whole Russell

In [4]:
path = '/Users/Mason/Desktop/Volatility/russell'
data_paths = [os.path.join(path, f) for f in os.listdir(path)]

In [5]:
r_1000 = '/Users/Mason/Desktop/Volatility/russell/Russell_1000.txt'
r_2000 = '/Users/Mason/Desktop/Volatility/russell/Russell_2000.txt'
r_sample = '/Users/Mason/Desktop/Volatility/russell/Russell_Sample.txt'

data_paths.remove(r_1000)
data_paths.remove(r_2000)
data_paths.remove(r_sample)

In [6]:
def prep_data(csv_file,date):
    df = pd.read_csv(csv_file)
    df_sample = copy.deepcopy(df)
    df['time']  = pd.to_timedelta(df['time'])
    df['date'] = pd.to_datetime(df['date'])# format='%Y%m%d')
    df = df[df['date'] == str(date)]
    df_sample = df_sample[df_sample['date'] == str(date)]
    df_sample['datetime'] = df['date'] + df['time']
    df_sample = df_sample.set_index('datetime')
    df_sample['time'] = pd.to_datetime(df_sample['time']).dt.strftime('%H:%M:%S')
    df_sample = df_sample.between_time('9:45:00','15:55:00')
    return df_sample

In [7]:
russell_est={}
russell_real={}

for f in tqdm(data_paths[:]):
    try:
    
        date=d
        date = datetime.strptime(date, '%Y-%m-%d').date()
        df_sample = prep_data(f, date)
        intraday_file = f
        daily_file = '/Users/Mason/Desktop/Volatility/russell_daily.csv'
        ticker = df_sample.sym_root.unique()[0]
            
        daily_data, intraday_data, overnight_gap = clean_data(intraday_file, daily_file, ticker, date)
        historical = agg_intraday_daily(intraday_data, daily_data)
        estimated_daily = DailyModel(daily_data)
        coef = regress_volume(historical)
        estimated_intraday = predict_intraday(coef, historical, estimated_daily, overnight_gap)
        estimated_intraday = estimated_intraday.sort_index()
        estimation = pd.DataFrame({'time':estimated_intraday[14:-4].index, 'est':estimated_intraday[14:-4].values})

        russell_est[ticker] = estimation
        russell_real[ticker] = df_sample[['time', 'size']]

    except:
        pass

100%|██████████| 112/112 [03:45<00:00,  2.02s/it]

In [8]:
russell_est

{'SR':          time       est
 0    09:45:00  604.0000
 1    09:46:00  577.0000
 2    09:47:00  591.0000
 3    09:48:00  589.0000
 4    09:49:00  568.0000
 ..        ...       ...
 366  15:51:00 3149.0000
 367  15:52:00 3471.0000
 368  15:53:00 3800.0000
 369  15:54:00 4322.0000
 370  15:55:00 4827.0000

 [371 rows x 2 columns],
 'ELS':          time       est
 0    09:45:00 1158.0000
 1    09:46:00 1183.0000
 2    09:47:00 1244.0000
 3    09:48:00 1230.0000
 4    09:49:00 1219.0000
 ..        ...       ...
 366  15:51:00 5070.0000
 367  15:52:00 5486.0000
 368  15:53:00 5847.0000
 369  15:54:00 6561.0000
 370  15:55:00 7351.0000

 [371 rows x 2 columns],
 'MOV':          time       est
 0    09:45:00  452.0000
 1    09:46:00  510.0000
 2    09:47:00  525.0000
 3    09:48:00  521.0000
 4    09:49:00  564.0000
 ..        ...       ...
 366  15:51:00 1766.0000
 367  15:52:00 1901.0000
 368  15:53:00 1924.0000
 369  15:54:00 2085.0000
 370  15:55:00 2397.0000

 [371 rows x 2 columns],
 'MCRB':          time        est
 0    09:45:00  9821.0000
 1    09:46:00 10485.0000
 2    09:47:00 10326.0000
 3    09:48:00 10110.0000
 4    09:49:00  9863.0000
 ..        ...        ...
 366  15:51:00 17858.0000
 367  15:52:00 21371.0000
 368  15:53:00 23293.0000
 369  15:54:00 25659.0000
 370  15:55:00 28964.0000

 [371 rows x 2 columns],
 'LEN':          time        est
 0    09:45:00  7054.0000
 1    09:46:00  7094.0000
 2    09:47:00  7142.0000
 3    09:48:00  7204.0000
 4    09:49:00  7017.0000
 ..        ...        ...
 366  15:51:00 15255.0000
 367  15:52:00 16279.0000
 368  15:53:00 16893.0000
 369  15:54:00 18726.0000
 370  15:55:00 20522.0000

 [371 rows x 2 columns],
 'TTI':          time       est
 0    09:45:00 4327.0000
 1    09:46:00 4191.0000
 2    09:47:00 4217.0000
 3    09:48:00 4497.0000
 4    09:49:00 4399.0000
 ..        ...       ...
 366  15:51:00 6115.0000
 367  15:52:00 6359.0000
 368  15:53:00 6931.0000
 369  15:54:00 7943.0000
 370  15:55:00 8841.0000

 [371 rows x 2 columns],
 'TRMB':          time        est
 0    09:45:00  2923.0000
 1    09:46:00  3008.0000
 2    09:47:00  2898.0000
 3    09:48:00  2894.0000
 4    09:49:00  2775.0000
 ..        ...        ...
 366  15:51:00 10763.0000
 367  15:52:00 13302.0000
 368  15:53:00 13526.0000
 369  15:54:00 14779.0000
 370  15:55:00 16411.0000

 [371 rows x 2 columns],
 'OLN':          time        est
 0    09:45:00  4137.0000
 1    09:46:00  4146.0000
 2    09:47:00  4046.0000
 3    09:48:00  3950.0000
 4    09:49:00  4104.0000
 ..        ...        ...
 366  15:51:00 11542.0000
 367  15:52:00 12331.0000
 368  15:53:00 13198.0000
 369  15:54:00 14749.0000
 370  15:55:00 16631.0000

 [371 rows x 2 columns],
 'CPRX':          time       est
 0    09:45:00 3129.0000
 1    09:46:00 3002.0000
 2    09:47:00 3011.0000
 3    09:48:00 2987.0000
 4    09:49:00 2933.0000
 ..        ...       ...
 366  15:51:00 5368.0000
 367  15:52:00 6897.0000
 368  15:53:00 6756.0000
 369  15:54:00 7393.0000
 370  15:55:00 8643.0000

 [371 rows x 2 columns],
 'FDBC':          time     est
 0    09:45:00  2.0000
 1    09:46:00  2.0000
 2    09:47:00  2.0000
 3    09:48:00  2.0000
 4    09:49:00  2.0000
 ..        ...     ...
 366  15:51:00 13.0000
 367  15:52:00 16.0000
 368  15:53:00 14.0000
 369  15:54:00 16.0000
 370  15:55:00 20.0000

 [371 rows x 2 columns],
 'PCG':          time         est
 0    09:45:00  40538.0000
 1    09:46:00  41936.0000
 2    09:47:00  41760.0000
 3    09:48:00  40260.0000
 4    09:49:00  40091.0000
 ..        ...         ...
 366  15:51:00  87012.0000
 367  15:52:00  92353.0000
 368  15:53:00  98318.0000
 369  15:54:00 108861.0000
 370  15:55:00 123548.0000

 [371 rows x 2 columns],
 'EVBG':          time       est
 0    09:45:00 1383.0000
 1    09:46:00 1436.0000
 2    09:47:00 1456.0000
 3    09:48:00 1493.0000
 4    09:49:00 1449.0000
 ..        ...       ...
 366  15:51:00 4444.0000
 367  15:52:00 5126.0000
 368  15:53:00 5274.0000
 369  15:54:00 5815.0000
 370  15:55:00 6424.0000

 [371 rows x 2 columns],
 'LEA':          time       est
 0    09:45:00 1165.0000
 1    09:46:00 1151.0000
 2    09:47:00 1190.0000
 3    09:48:00 1166.0000
 4    09:49:00 1271.0000
 ..        ...       ...
 366  15:51:00 4806.0000
 367  15:52:00 5316.0000
 368  15:53:00 5488.0000
 369  15:54:00 6144.0000
 370  15:55:00 6800.0000

 [371 rows x 2 columns],
 'FLXS':          time      est
 0    09:45:00  79.0000
 1    09:46:00  75.0000
 2    09:47:00  79.0000
 3    09:48:00  90.0000
 4    09:49:00  86.0000
 ..        ...      ...
 366  15:51:00 137.0000
 367  15:52:00 151.0000
 368  15:53:00 159.0000
 369  15:54:00 187.0000
 370  15:55:00 232.0000

 [371 rows x 2 columns],
 'BUSE':          time       est
 0    09:45:00  316.0000
 1    09:46:00  346.0000
 2    09:47:00  331.0000
 3    09:48:00  336.0000
 4    09:49:00  340.0000
 ..        ...       ...
 366  15:51:00 1449.0000
 367  15:52:00 1741.0000
 368  15:53:00 1703.0000
 369  15:54:00 1930.0000
 370  15:55:00 2203.0000

 [371 rows x 2 columns],
 'G':          time       est
 0    09:45:00 1083.0000
 1    09:46:00 1116.0000
 2    09:47:00 1129.0000
 3    09:48:00 1172.0000
 4    09:49:00 1158.0000
 ..        ...       ...
 366  15:51:00 5732.0000
 367  15:52:00 6267.0000
 368  15:53:00 6641.0000
 369  15:54:00 7573.0000
 370  15:55:00 8498.0000

 [371 rows x 2 columns],
 'BWFG':          time     est
 0    09:45:00 13.0000
 1    09:46:00 13.0000
 2    09:47:00 15.0000
 3    09:48:00 18.0000
 4    09:49:00 18.0000
 ..        ...     ...
 366  15:51:00 67.0000
 367  15:52:00 67.0000
 368  15:53:00 59.0000
 369  15:54:00 76.0000
 370  15:55:00 91.0000

 [371 rows x 2 columns],
 'NBHC':          time       est
 0    09:45:00  159.0000
 1    09:46:00  164.0000
 2    09:47:00  170.0000
 3    09:48:00  184.0000
 4    09:49:00  188.0000
 ..        ...       ...
 366  15:51:00 1058.0000
 367  15:52:00 1194.0000
 368  15:53:00 1250.0000
 369  15:54:00 1392.0000
 370  15:55:00 1599.0000

 [371 rows x 2 columns],
 'XBIT':          time      est
 0    09:45:00 132.0000
 1    09:46:00 137.0000
 2    09:47:00 127.0000
 3    09:48:00 140.0000
 4    09:49:00 126.0000
 ..        ...      ...
 366  15:51:00 347.0000
 367  15:52:00 436.0000
 368  15:53:00 424.0000
 369  15:54:00 480.0000
 370  15:55:00 614.0000

 [371 rows x 2 columns],
 'GCO':          time       est
 0    09:45:00  218.0000
 1    09:46:00  220.0000
 2    09:47:00  222.0000
 3    09:48:00  231.0000
 4    09:49:00  237.0000
 ..        ...       ...
 366  15:51:00 1015.0000
 367  15:52:00 1107.0000
 368  15:53:00 1223.0000
 369  15:54:00 1410.0000
 370  15:55:00 1637.0000

 [371 rows x 2 columns],
 'STNG':          time       est
 0    09:45:00 4284.0000
 1    09:46:00 4292.0000
 2    09:47:00 4135.0000
 3    09:48:00 4117.0000
 4    09:49:00 4073.0000
 ..        ...       ...
 366  15:51:00 7024.0000
 367  15:52:00 7414.0000
 368  15:53:00 7670.0000
 369  15:54:00 8344.0000
 370  15:55:00 9208.0000

 [371 rows x 2 columns],
 'SFL':          time       est
 0    09:45:00 3630.0000
 1    09:46:00 3590.0000
 2    09:47:00 3496.0000
 3    09:48:00 3506.0000
 4    09:49:00 3551.0000
 ..        ...       ...
 366  15:51:00 5505.0000
 367  15:52:00 5761.0000
 368  15:53:00 5732.0000
 369  15:54:00 6147.0000
 370  15:55:00 7053.0000

 [371 rows x 2 columns],
 'MCD':          time        est
 0    09:45:00  9296.0000
 1    09:46:00  9539.0000
 2    09:47:00  9511.0000
 3    09:48:00  9100.0000
 4    09:49:00  9110.0000
 ..        ...        ...
 366  15:51:00 15837.0000
 367  15:52:00 17238.0000
 368  15:53:00 17869.0000
 369  15:54:00 19775.0000
 370  15:55:00 22178.0000

 [371 rows x 2 columns],
 'GME':          time        est
 0    09:45:00  9012.0000
 1    09:46:00  8907.0000
 2    09:47:00  8749.0000
 3    09:48:00  8422.0000
 4    09:49:00  8276.0000
 ..        ...        ...
 366  15:51:00 10040.0000
 367  15:52:00 10744.0000
 368  15:53:00 11188.0000
 369  15:54:00 12271.0000
 370  15:55:00 13768.0000

 [371 rows x 2 columns],
 'VICI':          time        est
 0    09:45:00 15954.0000
 1    09:46:00 16260.0000
 2    09:47:00 16444.0000
 3    09:48:00 16174.0000
 4    09:49:00 16164.0000
 ..        ...        ...
 366  15:51:00 43483.0000
 367  15:52:00 46764.0000
 368  15:53:00 52937.0000
 369  15:54:00 60431.0000
 370  15:55:00 70067.0000

 [371 rows x 2 columns],
 'NATH':          time     est
 0    09:45:00  9.0000
 1    09:46:00  7.0000
 2    09:47:00  6.0000
 3    09:48:00  3.0000
 4    09:49:00  3.0000
 ..        ...     ...
 366  15:51:00 14.0000
 367  15:52:00 15.0000
 368  15:53:00 18.0000
 369  15:54:00 23.0000
 370  15:55:00 26.0000

 [371 rows x 2 columns],
 'HEES':          time       est
 0    09:45:00  330.0000
 1    09:46:00  350.0000
 2    09:47:00  363.0000
 3    09:48:00  377.0000
 4    09:49:00  379.0000
 ..        ...       ...
 366  15:51:00 1258.0000
 367  15:52:00 1466.0000
 368  15:53:00 1514.0000
 369  15:54:00 1715.0000
 370  15:55:00 1947.0000

 [371 rows x 2 columns],
 'APPF':          time       est
 0    09:45:00  146.0000
 1    09:46:00  155.0000
 2    09:47:00  151.0000
 3    09:48:00  164.0000
 4    09:49:00  170.0000
 ..        ...       ...
 366  15:51:00  670.0000
 367  15:52:00  828.0000
 368  15:53:00  905.0000
 369  15:54:00 1083.0000
 370  15:55:00 1231.0000

 [371 rows x 2 columns],
 'CARA':          time       est
 0    09:45:00 2085.0000
 1    09:46:00 2048.0000
 2    09:47:00 2056.0000
 3    09:48:00 2094.0000
 4    09:49:00 2231.0000
 ..        ...       ...
 366  15:51:00 3619.0000
 367  15:52:00 4117.0000
 368  15:53:00 4305.0000
 369  15:54:00 4640.0000
 370  15:55:00 5270.0000

 [371 rows x 2 columns],
 'SILK':          time       est
 0    09:45:00  889.0000
 1    09:46:00  867.0000
 2    09:47:00  802.0000
 3    09:48:00  854.0000
 4    09:49:00  838.0000
 ..        ...       ...
 366  15:51:00 2940.0000
 367  15:52:00 3299.0000
 368  15:53:00 3429.0000
 369  15:54:00 3749.0000
 370  15:55:00 4261.0000

 [371 rows x 2 columns],
 'RNR':          time       est
 0    09:45:00  982.0000
 1    09:46:00 1022.0000
 2    09:47:00  991.0000
 3    09:48:00 1024.0000
 4    09:49:00 1051.0000
 ..        ...       ...
 366  15:51:00 4353.0000
 367  15:52:00 4815.0000
 368  15:53:00 5255.0000
 369  15:54:00 5888.0000
 370  15:55:00 6608.0000

 [371 rows x 2 columns],
 'PEG':          time        est
 0    09:45:00  4000.0000
 1    09:46:00  3805.0000
 2    09:47:00  3823.0000
 3    09:48:00  3806.0000
 4    09:49:00  3885.0000
 ..        ...        ...
 366  15:51:00 15171.0000
 367  15:52:00 16442.0000
 368  15:53:00 17945.0000
 369  15:54:00 20446.0000
 370  15:55:00 23135.0000

 [371 rows x 2 columns],
 'PEP':          time        est
 0    09:45:00 16069.0000
 1    09:46:00 15198.0000
 2    09:47:00 14998.0000
 3    09:48:00 14259.0000
 4    09:49:00 13913.0000
 ..        ...        ...
 366  15:51:00 27855.0000
 367  15:52:00 34529.0000
 368  15:53:00 34843.0000
 369  15:54:00 37812.0000
 370  15:55:00 41292.0000

 [371 rows x 2 columns],
 'ESE':          time      est
 0    09:45:00  67.0000
 1    09:46:00  72.0000
 2    09:47:00  74.0000
 3    09:48:00  74.0000
 4    09:49:00  76.0000
 ..        ...      ...
 366  15:51:00 645.0000
 367  15:52:00 691.0000
 368  15:53:00 753.0000
 369  15:54:00 861.0000
 370  15:55:00 991.0000

 [371 rows x 2 columns],
 'WWD':          time       est
 0    09:45:00  629.0000
 1    09:46:00  642.0000
 2    09:47:00  648.0000
 3    09:48:00  635.0000
 4    09:49:00  627.0000
 ..        ...       ...
 366  15:51:00 2580.0000
 367  15:52:00 3100.0000
 368  15:53:00 3256.0000
 369  15:54:00 3660.0000
 370  15:55:00 4003.0000

 [371 rows x 2 columns],
 'GPK':          time        est
 0    09:45:00  4518.0000
 1    09:46:00  4460.0000
 2    09:47:00  4495.0000
 3    09:48:00  4515.0000
 4    09:49:00  4534.0000
 ..        ...        ...
 366  15:51:00 15624.0000
 367  15:52:00 16649.0000
 368  15:53:00 17539.0000
 369  15:54:00 19561.0000
 370  15:55:00 22264.0000

 [371 rows x 2 columns],
 'TFX':          time       est
 0    09:45:00  869.0000
 1    09:46:00  987.0000
 2    09:47:00 1059.0000
 3    09:48:00 1107.0000
 4    09:49:00 1129.0000
 ..        ...       ...
 366  15:51:00 3601.0000
 367  15:52:00 4010.0000
 368  15:53:00 4353.0000
 369  15:54:00 4868.0000
 370  15:55:00 5380.0000

 [371 rows x 2 columns],
 'NFLX':          time        est
 0    09:45:00 14840.0000
 1    09:46:00 14746.0000
 2    09:47:00 15185.0000
 3    09:48:00 15051.0000
 4    09:49:00 14923.0000
 ..        ...        ...
 366  15:51:00 18339.0000
 367  15:52:00 21432.0000
 368  15:53:00 22175.0000
 369  15:54:00 23920.0000
 370  15:55:00 26264.0000

 [371 rows x 2 columns],
 'JOE':          time       est
 0    09:45:00  262.0000
 1    09:46:00  259.0000
 2    09:47:00  248.0000
 3    09:48:00  231.0000
 4    09:49:00  254.0000
 ..        ...       ...
 366  15:51:00 1044.0000
 367  15:52:00 1127.0000
 368  15:53:00 1200.0000
 369  15:54:00 1330.0000
 370  15:55:00 1513.0000

 [371 rows x 2 columns],
 'GEF':          time       est
 0    09:45:00  272.0000
 1    09:46:00  269.0000
 2    09:47:00  265.0000
 3    09:48:00  270.0000
 4    09:49:00  275.0000
 ..        ...       ...
 366  15:51:00 1540.0000
 367  15:52:00 1701.0000
 368  15:53:00 1793.0000
 369  15:54:00 1991.0000
 370  15:55:00 2272.0000

 [371 rows x 2 columns],
 'AMAL':          time      est
 0    09:45:00 110.0000
 1    09:46:00 108.0000
 2    09:47:00 106.0000
 3    09:48:00  99.0000
 4    09:49:00 105.0000
 ..        ...      ...
 366  15:51:00 391.0000
 367  15:52:00 462.0000
 368  15:53:00 501.0000
 369  15:54:00 556.0000
 370  15:55:00 627.0000

 [371 rows x 2 columns],
 'HMTV':          time      est
 0    09:45:00 205.0000
 1    09:46:00 193.0000
 2    09:47:00 128.0000
 3    09:48:00 117.0000
 4    09:49:00 233.0000
 ..        ...      ...
 366  15:51:00 511.0000
 367  15:52:00 687.0000
 368  15:53:00 686.0000
 369  15:54:00 810.0000
 370  15:55:00 938.0000

 [371 rows x 2 columns],
 'EVRI':          time       est
 0    09:45:00 1677.0000
 1    09:46:00 1764.0000
 2    09:47:00 1864.0000
 3    09:48:00 1923.0000
 4    09:49:00 1946.0000
 ..        ...       ...
 366  15:51:00 5744.0000
 367  15:52:00 6160.0000
 368  15:53:00 6457.0000
 369  15:54:00 7095.0000
 370  15:55:00 7970.0000

 [371 rows x 2 columns],
 'JOUT':          time      est
 0    09:45:00  49.0000
 1    09:46:00  47.0000
 2    09:47:00  46.0000
 3    09:48:00  42.0000
 4    09:49:00  41.0000
 ..        ...      ...
 366  15:51:00 153.0000
 367  15:52:00 175.0000
 368  15:53:00 177.0000
 369  15:54:00 206.0000
 370  15:55:00 248.0000

 [371 rows x 2 columns],
 'SGEN':          time        est
 0    09:45:00  2861.0000
 1    09:46:00  2909.0000
 2    09:47:00  2955.0000
 3    09:48:00  3102.0000
 4    09:49:00  3050.0000
 ..        ...        ...
 366  15:51:00  8440.0000
 367  15:52:00 10160.0000
 368  15:53:00 10319.0000
 369  15:54:00 11286.0000
 370  15:55:00 12379.0000

 [371 rows x 2 columns],
 'GPRO':          time        est
 0    09:45:00 13521.0000
 1    09:46:00 13329.0000
 2    09:47:00 13322.0000
 3    09:48:00 12989.0000
 4    09:49:00 12687.0000
 ..        ...        ...
 366  15:51:00 19447.0000
 367  15:52:00 21976.0000
 368  15:53:00 22237.0000
 369  15:54:00 24130.0000
 370  15:55:00 26718.0000

 [371 rows x 2 columns],
 'AGM':          time      est
 0    09:45:00  40.0000
 1    09:46:00  42.0000
 2    09:47:00  43.0000
 3    09:48:00  45.0000
 4    09:49:00  44.0000
 ..        ...      ...
 366  15:51:00 208.0000
 367  15:52:00 216.0000
 368  15:53:00 234.0000
 369  15:54:00 258.0000
 370  15:55:00 291.0000

 [371 rows x 2 columns],
 'MRO':          time         est
 0    09:45:00  75812.0000
 1    09:46:00  74868.0000
 2    09:47:00  75648.0000
 3    09:48:00  74814.0000
 4    09:49:00  73147.0000
 ..        ...         ...
 366  15:51:00 107721.0000
 367  15:52:00 112415.0000
 368  15:53:00 115029.0000
 369  15:54:00 124756.0000
 370  15:55:00 135926.0000

 [371 rows x 2 columns],
 'MC':          time       est
 0    09:45:00  623.0000
 1    09:46:00  643.0000
 2    09:47:00  628.0000
 3    09:48:00  639.0000
 4    09:49:00  657.0000
 ..        ...       ...
 366  15:51:00 3054.0000
 367  15:52:00 3362.0000
 368  15:53:00 3628.0000
 369  15:54:00 4125.0000
 370  15:55:00 4721.0000

 [371 rows x 2 columns],
 'NX':          time       est
 0    09:45:00  257.0000
 1    09:46:00  268.0000
 2    09:47:00  277.0000
 3    09:48:00  280.0000
 4    09:49:00  292.0000
 ..        ...       ...
 366  15:51:00 1189.0000
 367  15:52:00 1301.0000
 368  15:53:00 1388.0000
 369  15:54:00 1538.0000
 370  15:55:00 1775.0000

 [371 rows x 2 columns],
 'HSKA':          time      est
 0    09:45:00  73.0000
 1    09:46:00  70.0000
 2    09:47:00  77.0000
 3    09:48:00  79.0000
 4    09:49:00  83.0000
 ..        ...      ...
 366  15:51:00 394.0000
 367  15:52:00 466.0000
 368  15:53:00 461.0000
 369  15:54:00 498.0000
 370  15:55:00 556.0000

 [371 rows x 2 columns],
 'HSII':          time       est
 0    09:45:00  230.0000
 1    09:46:00  294.0000
 2    09:47:00  287.0000
 3    09:48:00  305.0000
 4    09:49:00  309.0000
 ..        ...       ...
 366  15:51:00  950.0000
 367  15:52:00 1144.0000
 368  15:53:00 1104.0000
 369  15:54:00 1228.0000
 370  15:55:00 1390.0000

 [371 rows x 2 columns],
 'PRK':          time      est
 0    09:45:00  40.0000
 1    09:46:00  41.0000
 2    09:47:00  45.0000
 3    09:48:00  45.0000
 4    09:49:00  46.0000
 ..        ...      ...
 366  15:51:00 377.0000
 367  15:52:00 224.0000
 368  15:53:00 217.0000
 369  15:54:00 240.0000
 370  15:55:00 263.0000

 [371 rows x 2 columns],
 'APH':          time        est
 0    09:45:00  6572.0000
 1    09:46:00  6535.0000
 2    09:47:00  6780.0000
 3    09:48:00  6955.0000
 4    09:49:00  7090.0000
 ..        ...        ...
 366  15:51:00 18162.0000
 367  15:52:00 20220.0000
 368  15:53:00 21400.0000
 369  15:54:00 23369.0000
 370  15:55:00 25346.0000

 [371 rows x 2 columns],
 'CRC':          time       est
 0    09:45:00 1684.0000
 1    09:46:00 1584.0000
 2    09:47:00 1554.0000
 3    09:48:00 1541.0000
 4    09:49:00 1479.0000
 ..        ...       ...
 366  15:51:00 3473.0000
 367  15:52:00 3768.0000
 368  15:53:00 4157.0000
 369  15:54:00 4709.0000
 370  15:55:00 5309.0000

 [371 rows x 2 columns],
 'HCA':          time        est
 0    09:45:00  4649.0000
 1    09:46:00  4797.0000
 2    09:47:00  4663.0000
 3    09:48:00  4667.0000
 4    09:49:00  4916.0000
 ..        ...        ...
 366  15:51:00 10689.0000
 367  15:52:00 11532.0000
 368  15:53:00 12272.0000
 369  15:54:00 13702.0000
 370  15:55:00 15169.0000

 [371 rows x 2 columns],
 'YCBD':          time       est
 0    09:45:00 4120.0000
 1    09:46:00 4259.0000
 2    09:47:00 4396.0000
 3    09:48:00 4474.0000
 4    09:49:00 4324.0000
 ..        ...       ...
 366  15:51:00 4111.0000
 367  15:52:00 4230.0000
 368  15:53:00 4547.0000
 369  15:54:00 4813.0000
 370  15:55:00 5006.0000

 [371 rows x 2 columns],
 'MUSA':          time       est
 0    09:45:00  305.0000
 1    09:46:00  327.0000
 2    09:47:00  321.0000
 3    09:48:00  330.0000
 4    09:49:00  330.0000
 ..        ...       ...
 366  15:51:00 1655.0000
 367  15:52:00 1790.0000
 368  15:53:00 2005.0000
 369  15:54:00 2242.0000
 370  15:55:00 2592.0000

 [371 rows x 2 columns],
 'LLNW':          time       est
 0    09:45:00 3436.0000
 1    09:46:00 3432.0000
 2    09:47:00 3458.0000
 3    09:48:00 3516.0000
 4    09:49:00 3511.0000
 ..        ...       ...
 366  15:51:00 7050.0000
 367  15:52:00 8178.0000
 368  15:53:00 7959.0000
 369  15:54:00 8972.0000
 370  15:55:00 9737.0000

 [371 rows x 2 columns],
 'DUK':          time        est
 0    09:45:00  8094.0000
 1    09:46:00  7824.0000
 2    09:47:00  8267.0000
 3    09:48:00  8106.0000
 4    09:49:00  7882.0000
 ..        ...        ...
 366  15:51:00 17437.0000
 367  15:52:00 18743.0000
 368  15:53:00 19879.0000

## Save in Pickle

In [9]:

# create a binary pickle file 
f = open("russell_baseline.pkl","wb")

# write the python object (dict) to pickle file
pickle.dump(russell_est,f)

# close file
f.close()

In [10]:
f = open("russell_size.pkl","wb")

# write the python object (dict) to pickle file
pickle.dump(russell_real,f)

# close file
f.close()

In [11]:
file_to_read = open("russell_baseline.pkl", "rb")
loaded_dictionary = pickle.load(file_to_read)

## Metrics Evaluation

In [12]:
def find_metrics(data):
    abs_val = np.abs(data['residual'].values)/ data['size'].values
    return np.sum(abs_val)/len(abs_val)

In [13]:
error_dict = {}
for i in tqdm(russell_est.keys()):
    if len(russell_est[i]) == 0:
        pass
    else:
        russell_est[i]['time'] = russell_est[i]['time'].astype(str)
        russell_real[i]['time'] =  russell_real[i]['time'].astype(str)
        new_df = pd.merge(russell_est[i], russell_real[i], how = 'inner', on = 'time')
        new_df['residual'] = new_df['size'] - new_df['est']
        error_dict[i] = new_df

100%|██████████| 107/107 [00:00<00:00, 413.75it/s]

In [14]:
f = open("russell_residual.pkl","wb")

# write the python object (dict) to pickle file
pickle.dump(error_dict,f)

# close file
f.close()

In [15]:
error_dict

{'SR':          time       est  size   residual
 0    09:45:00  604.0000   662    58.0000
 1    09:47:00  591.0000   172  -419.0000
 2    09:50:00  570.0000     2  -568.0000
 3    09:51:00  599.0000  1549   950.0000
 4    09:52:00  583.0000   205  -378.0000
 ..        ...       ...   ...        ...
 344  15:51:00 3149.0000   967 -2182.0000
 345  15:52:00 3471.0000  1326 -2145.0000
 346  15:53:00 3800.0000  1119 -2681.0000
 347  15:54:00 4322.0000  1349 -2973.0000
 348  15:55:00 4827.0000  4906    79.0000

 [349 rows x 4 columns],
 'ELS':          time       est   size   residual
 0    09:45:00 1158.0000   3483  2325.0000
 1    09:46:00 1183.0000   1844   661.0000
 2    09:47:00 1244.0000    672  -572.0000
 3    09:48:00 1230.0000    843  -387.0000
 4    09:49:00 1219.0000    683  -536.0000
 ..        ...       ...    ...        ...
 363  15:51:00 5070.0000   7340  2270.0000
 364  15:52:00 5486.0000   4201 -1285.0000
 365  15:53:00 5847.0000   4405 -1442.0000
 366  15:54:00 6561.0000   3660 -2901.0000
 367  15:55:00 7351.0000  14770  7419.0000

 [368 rows x 4 columns],
 'MOV':          time       est  size  residual
 0    09:46:00  510.0000   245 -265.0000
 1    09:47:00  525.0000  1351  826.0000
 2    09:48:00  521.0000   732  211.0000
 3    09:49:00  564.0000   213 -351.0000
 4    09:50:00  587.0000   817  230.0000
 ..        ...       ...   ...       ...
 338  15:51:00 1766.0000  1745  -21.0000
 339  15:52:00 1901.0000  1919   18.0000
 340  15:53:00 1924.0000  1630 -294.0000
 341  15:54:00 2085.0000  1731 -354.0000
 342  15:55:00 2397.0000  3630 1233.0000

 [343 rows x 4 columns],
 'MCRB':          time        est   size    residual
 0    09:45:00  9821.0000   9305   -516.0000
 1    09:46:00 10485.0000   1156  -9329.0000
 2    09:47:00 10326.0000   2949  -7377.0000
 3    09:48:00 10110.0000   4168  -5942.0000
 4    09:49:00  9863.0000   9277   -586.0000
 ..        ...        ...    ...         ...
 366  15:51:00 17858.0000   5988 -11870.0000
 367  15:52:00 21371.0000   3091 -18280.0000
 368  15:53:00 23293.0000   5926 -17367.0000
 369  15:54:00 25659.0000  42621  16962.0000
 370  15:55:00 28964.0000  21086  -7878.0000

 [371 rows x 4 columns],
 'LEN':          time        est   size   residual
 0    09:45:00  7054.0000   3678 -3376.0000
 1    09:46:00  7094.0000    730 -6364.0000
 2    09:47:00  7142.0000   6209  -933.0000
 3    09:48:00  7204.0000   2685 -4519.0000
 4    09:49:00  7017.0000   3010 -4007.0000
 ..        ...        ...    ...        ...
 366  15:51:00 15255.0000  27619 12364.0000
 367  15:52:00 16279.0000  21053  4774.0000
 368  15:53:00 16893.0000  16668  -225.0000
 369  15:54:00 18726.0000  19977  1251.0000
 370  15:55:00 20522.0000  28798  8276.0000

 [371 rows x 4 columns],
 'TTI':          time       est   size   residual
 0    09:45:00 4327.0000   3915  -412.0000
 1    09:46:00 4191.0000    900 -3291.0000
 2    09:47:00 4217.0000   1029 -3188.0000
 3    09:48:00 4497.0000   6599  2102.0000
 4    09:49:00 4399.0000   2258 -2141.0000
 ..        ...       ...    ...        ...
 360  15:51:00 6115.0000  14595  8480.0000
 361  15:52:00 6359.0000   2876 -3483.0000
 362  15:53:00 6931.0000   4599 -2332.0000
 363  15:54:00 7943.0000   7511  -432.0000
 364  15:55:00 8841.0000   4799 -4042.0000

 [365 rows x 4 columns],
 'TRMB':          time        est  size   residual
 0    09:45:00  2923.0000  2458  -465.0000
 1    09:46:00  3008.0000  1115 -1893.0000
 2    09:47:00  2898.0000  2985    87.0000
 3    09:48:00  2894.0000  2727  -167.0000
 4    09:49:00  2775.0000   720 -2055.0000
 ..        ...        ...   ...        ...
 366  15:51:00 10763.0000  5801 -4962.0000
 367  15:52:00 13302.0000  8463 -4839.0000
 368  15:53:00 13526.0000  6856 -6670.0000
 369  15:54:00 14779.0000  9151 -5628.0000
 370  15:55:00 16411.0000  8999 -7412.0000

 [371 rows x 4 columns],
 'OLN':          time        est   size   residual
 0    09:45:00  4137.0000   7724  3587.0000
 1    09:46:00  4146.0000   6351  2205.0000
 2    09:47:00  4046.0000  16330 12284.0000
 3    09:48:00  3950.0000  12459  8509.0000
 4    09:49:00  4104.0000  10525  6421.0000
 ..        ...        ...    ...        ...
 366  15:51:00 11542.0000   6782 -4760.0000
 367  15:52:00 12331.0000   8828 -3503.0000
 368  15:53:00 13198.0000  10065 -3133.0000
 369  15:54:00 14749.0000  10333 -4416.0000
 370  15:55:00 16631.0000  15510 -1121.0000

 [371 rows x 4 columns],
 'CPRX':          time       est  size   residual
 0    09:45:00 3129.0000  3226    97.0000
 1    09:46:00 3002.0000   802 -2200.0000
 2    09:47:00 3011.0000  2107  -904.0000
 3    09:48:00 2987.0000  2098  -889.0000
 4    09:49:00 2933.0000   390 -2543.0000
 ..        ...       ...   ...        ...
 366  15:51:00 5368.0000   241 -5127.0000
 367  15:52:00 6897.0000  5564 -1333.0000
 368  15:53:00 6756.0000  1237 -5519.0000
 369  15:54:00 7393.0000  5768 -1625.0000
 370  15:55:00 8643.0000  1845 -6798.0000

 [371 rows x 4 columns],
 'FDBC':         time     est  size  residual
 0   10:02:00  4.0000     1   -3.0000
 1   10:13:00  2.0000     1   -1.0000
 2   10:14:00  2.0000    10    8.0000
 3   10:16:00  3.0000     1   -2.0000
 4   10:19:00  2.0000    22   20.0000
 5   10:22:00  1.0000     2    1.0000
 6   10:27:00  3.0000     1   -2.0000
 7   10:32:00  3.0000     1   -2.0000
 8   10:37:00  2.0000     1   -1.0000
 9   11:10:00  2.0000   100   98.0000
 10  11:20:00  2.0000     1   -1.0000
 11  11:26:00  2.0000     1   -1.0000
 12  12:28:00  1.0000     1    0.0000
 13  12:53:00  2.0000     1   -1.0000
 14  13:33:00  2.0000    45   43.0000
 15  13:36:00  1.0000     1    0.0000
 16  13:37:00  1.0000     2    1.0000
 17  13:38:00  1.0000     1    0.0000
 18  13:47:00  2.0000     7    5.0000
 19  14:28:00  3.0000    24   21.0000
 20  14:42:00  3.0000     1   -2.0000
 21  15:05:00  5.0000    81   76.0000
 22  15:53:00 14.0000     1  -13.0000,
 'PCG':          time         est    size    residual
 0    09:45:00  40538.0000   33894  -6644.0000
 1    09:46:00  41936.0000   23204 -18732.0000
 2    09:47:00  41760.0000   11774 -29986.0000
 3    09:48:00  40260.0000   13405 -26855.0000
 4    09:49:00  40091.0000   22732 -17359.0000
 ..        ...         ...     ...         ...
 366  15:51:00  87012.0000   37756 -49256.0000
 367  15:52:00  92353.0000   30857 -61496.0000
 368  15:53:00  98318.0000   78110 -20208.0000
 369  15:54:00 108861.0000   38082 -70779.0000
 370  15:55:00 123548.0000  143954  20406.0000

 [371 rows x 4 columns],
 'EVBG':          time       est  size   residual
 0    09:45:00 1383.0000  1537   154.0000
 1    09:46:00 1436.0000   244 -1192.0000
 2    09:47:00 1456.0000  1715   259.0000
 3    09:48:00 1493.0000   808  -685.0000
 4    09:49:00 1449.0000   220 -1229.0000
 ..        ...       ...   ...        ...
 362  15:51:00 4444.0000  1734 -2710.0000
 363  15:52:00 5126.0000  5128     2.0000
 364  15:53:00 5274.0000  1314 -3960.0000
 365  15:54:00 5815.0000  8646  2831.0000
 366  15:55:00 6424.0000  7370   946.0000

 [367 rows x 4 columns],
 'LEA':          time       est  size   residual
 0    09:45:00 1165.0000     2 -1163.0000
 1    09:46:00 1151.0000  1042  -109.0000
 2    09:47:00 1190.0000   185 -1005.0000
 3    09:48:00 1166.0000  1381   215.0000
 4    09:49:00 1271.0000    34 -1237.0000
 ..        ...       ...   ...        ...
 361  15:51:00 4806.0000  1762 -3044.0000
 362  15:52:00 5316.0000  2438 -2878.0000
 363  15:53:00 5488.0000  4749  -739.0000
 364  15:54:00 6144.0000  4959 -1185.0000
 365  15:55:00 6800.0000  7022   222.0000

 [366 rows x 4 columns],
 'FLXS':          time      est  size  residual
 0    09:46:00  75.0000     2  -73.0000
 1    09:47:00  79.0000     2  -77.0000
 2    09:59:00  63.0000   246  183.0000
 3    10:00:00  64.0000    31  -33.0000
 4    10:01:00  63.0000     6  -57.0000
 ..        ...      ...   ...       ...
 165  15:51:00 137.0000   207   70.0000
 166  15:52:00 151.0000   269  118.0000
 167  15:53:00 159.0000    57 -102.0000
 168  15:54:00 187.0000    34 -153.0000
 169  15:55:00 232.0000   335  103.0000

 [170 rows x 4 columns],
 'BUSE':          time       est  size   residual
 0    09:45:00  316.0000     2  -314.0000
 1    09:51:00  334.0000   200  -134.0000
 2    09:52:00  346.0000     8  -338.0000
 3    09:55:00  335.0000  1098   763.0000
 4    09:56:00  320.0000   620   300.0000
 ..        ...       ...   ...        ...
 280  15:51:00 1449.0000  4265  2816.0000
 281  15:52:00 1741.0000  1895   154.0000
 282  15:53:00 1703.0000  1240  -463.0000
 283  15:54:00 1930.0000  5327  3397.0000
 284  15:55:00 2203.0000   891 -1312.0000

 [285 rows x 4 columns],
 'G':          time       est   size   residual
 0    09:45:00 1083.0000    813  -270.0000
 1    09:46:00 1116.0000    347  -769.0000
 2    09:47:00 1129.0000   3624  2495.0000
 3    09:48:00 1172.0000   2054   882.0000
 4    09:49:00 1158.0000    518  -640.0000
 ..        ...       ...    ...        ...
 353  15:51:00 5732.0000   9526  3794.0000
 354  15:52:00 6267.0000  10187  3920.0000
 355  15:53:00 6641.0000   7697  1056.0000
 356  15:54:00 7573.0000  10783  3210.0000
 357  15:55:00 8498.0000  18731 10233.0000

 [358 rows x 4 columns],
 'BWFG':         time     est  size  residual
 0   10:14:00 21.0000   100   79.0000
 1   10:19:00 22.0000     3  -19.0000
 2   10:20:00 20.0000     6  -14.0000
 3   10:30:00 16.0000     2  -14.0000
 4   10:32:00 15.0000   182  167.0000
 5   10:52:00 14.0000     8   -6.0000
 6   10:53:00 13.0000   100   87.0000
 7   10:55:00 17.0000   430  413.0000
 8   11:01:00 15.0000  1400 1385.0000
 9   11:02:00 16.0000  1111 1095.0000
 10  11:03:00 16.0000   200  184.0000
 11  11:04:00 19.0000  1000  981.0000
 12  11:05:00 18.0000   100   82.0000
 13  11:09:00 19.0000   822  803.0000
 14  11:10:00 18.0000   200  182.0000
 15  11:11:00 15.0000   185  170.0000
 16  11:12:00 13.0000   436  423.0000
 17  11:13:00 12.0000    41   29.0000
 18  11:17:00 20.0000    93   73.0000
 19  11:19:00 26.0000   100   74.0000
 20  11:24:00 28.0000   100   72.0000
 21  11:28:00 18.0000    33   15.0000
 22  11:29:00 15.0000   300  285.0000
 23  12:13:00 16.0000   100   84.0000
 24  12:30:00 13.0000   100   87.0000
 25  12:34:00 13.0000   103   90.0000
 26  12:53:00 14.0000   100   86.0000
 27  13:00:00 36.0000     1  -35.0000
 28  13:11:00 17.0000   100   83.0000
 29  13:12:00 21.0000   366  345.0000
 30  13:13:00 22.0000     2  -20.0000
 31  13:15:00 27.0000    35    8.0000
 32  13:29:00 11.0000   100   89.0000
 33  14:00:00  7.0000   290  283.0000
 34  14:39:00 22.0000   100   78.0000
 35  14:40:00 26.0000   100   74.0000
 36  14:52:00 23.0000     3  -20.0000
 37  15:07:00 19.0000   163  144.0000
 38  15:13:00 24.0000   400  376.0000
 39  15:14:00 23.0000    20   -3.0000
 40  15:18:00 20.0000     4  -16.0000
 41  15:19:00 22.0000   227  205.0000
 42  15:35:00 31.0000   200  169.0000
 43  15:38:00 40.0000    30  -10.0000
 44  15:45:00 48.0000    29  -19.0000
 45  15:46:00 45.0000     1  -44.0000
 46  15:50:00 62.0000   412  350.0000
 47  15:55:00 91.0000   105   14.0000,
 'NBHC':          time       est  size  residual
 0    09:46:00  164.0000     4 -160.0000
 1    09:48:00  184.0000     8 -176.0000
 2    09:50:00  201.0000     4 -197.0000
 3    09:51:00  206.0000     1 -205.0000
 4    09:52:00  217.0000     7 -210.0000
 ..        ...       ...   ...       ...
 310  15:51:00 1058.0000  1945  887.0000
 311  15:52:00 1194.0000  1141  -53.0000
 312  15:53:00 1250.0000  1698  448.0000
 313  15:54:00 1392.0000  2374  982.0000
 314  15:55:00 1599.0000  1613   14.0000

 [315 rows x 4 columns],
 'XBIT':          time      est  size  residual
 0    09:46:00 137.0000     2 -135.0000
 1    09:47:00 127.0000   120   -7.0000
 2    09:48:00 140.0000  1331 1191.0000
 3    09:49:00 126.0000     1 -125.0000
 4    09:50:00 118.0000    10 -108.0000
 ..        ...      ...   ...       ...
 275  15:51:00 347.0000   537  190.0000
 276  15:52:00 436.0000   290 -146.0000
 277  15:53:00 424.0000   101 -323.0000
 278  15:54:00 480.0000   376 -104.0000
 279  15:55:00 614.0000   366 -248.0000

 [280 rows x 4 columns],
 'GCO':          time       est  size  residual
 0    09:47:00  222.0000     3 -219.0000
 1    09:48:00  231.0000    40 -191.0000
 2    09:49:00  237.0000   106 -131.0000
 3    09:50:00  253.0000     1 -252.0000
 4    09:52:00  279.0000     3 -276.0000
 ..        ...       ...   ...       ...
 332  15:51:00 1015.0000  1613  598.0000
 333  15:52:00 1107.0000  1179   72.0000
 334  15:53:00 1223.0000   646 -577.0000
 335  15:54:00 1410.0000  1344  -66.0000
 336  15:55:00 1637.0000  3109 1472.0000

 [337 rows x 4 columns],
 'STNG':          time       est   size   residual
 0    09:45:00 4284.0000  12681  8397.0000
 1    09:46:00 4292.0000  14437 10145.0000
 2    09:47:00 4135.0000   8955  4820.0000
 3    09:48:00 4117.0000   1678 -2439.0000
 4    09:49:00 4073.0000   8629  4556.0000
 ..        ...       ...    ...        ...
 363  15:51:00 7024.0000   1207 -5817.0000
 364  15:52:00 7414.0000   1386 -6028.0000
 365  15:53:00 7670.0000   5752 -1918.0000
 366  15:54:00 8344.0000   5872 -2472.0000
 367  15:55:00 9208.0000   9668   460.0000

 [368 rows x 4 columns],
 'SFL':          time       est  size   residual
 0    09:45:00 3630.0000   758 -2872.0000
 1    09:46:00 3590.0000   617 -2973.0000
 2    09:47:00 3496.0000   887 -2609.0000
 3    09:48:00 3506.0000  2114 -1392.0000
 4    09:49:00 3551.0000   805 -2746.0000
 ..        ...       ...   ...        ...
 362  15:51:00 5505.0000  2804 -2701.0000
 363  15:52:00 5761.0000  1024 -4737.0000
 364  15:53:00 5732.0000  1758 -3974.0000
 365  15:54:00 6147.0000  6544   397.0000
 366  15:55:00 7053.0000  1365 -5688.0000

 [367 rows x 4 columns],
 'MCD':          time        est   size   residual
 0    09:45:00  9296.0000   4193 -5103.0000
 1    09:46:00  9539.0000   4913 -4626.0000
 2    09:47:00  9511.0000   6348 -3163.0000
 3    09:48:00  9100.0000   2946 -6154.0000
 4    09:49:00  9110.0000   7884 -1226.0000
 ..        ...        ...    ...        ...
 366  15:51:00 15837.0000  14864  -973.0000
 367  15:52:00 17238.0000  14376 -2862.0000
 368  15:53:00 17869.0000  15256 -2613.0000
 369  15:54:00 19775.0000  11639 -8136.0000
 370  15:55:00 22178.0000  30883  8705.0000

 [371 rows x 4 columns],
 'GME':          time        est   size   residual
 0    09:45:00  9012.0000   9847   835.0000
 1    09:46:00  8907.0000   7134 -1773.0000
 2    09:47:00  8749.0000  18629  9880.0000
 3    09:48:00  8422.0000   4616 -3806.0000
 4    09:49:00  8276.0000   2166 -6110.0000
 ..        ...        ...    ...        ...
 366  15:51:00 10040.0000  16579  6539.0000
 367  15:52:00 10744.0000  14116  3372.0000
 368  15:53:00 11188.0000   3937 -7251.0000
 369  15:54:00 12271.0000   4886 -7385.0000
 370  15:55:00 13768.0000  11105 -2663.0000

 [371 rows x 4 columns],
 'VICI':          time        est   size    residual
 0    09:45:00 15954.0000  36509  20555.0000
 1    09:46:00 16260.0000  30105  13845.0000
 2    09:47:00 16444.0000  24560   8116.0000
 3    09:48:00 16174.0000  27082  10908.0000
 4    09:49:00 16164.0000  16111    -53.0000
 ..        ...        ...    ...         ...
 366  15:51:00 43483.0000  26795 -16688.0000
 367  15:52:00 46764.0000  27562 -19202.0000
 368  15:53:00 52937.0000  21559 -31378.0000
 369  15:54:00 60431.0000  16381 -44050.0000
 370  15:55:00 70067.0000  55556 -14511.0000

 [371 rows x 4 columns],
 'NATH':         time     est  size  residual
 0   09:45:00  9.0000     1   -8.0000
 1   09:53:00  8.0000    25   17.0000
 2   10:00:00  4.0000     1   -3.0000
 3   10:01:00  4.0000    65   61.0000
 4   10:02:00  4.0000    10    6.0000
 5   10:03:00  5.0000     1   -4.0000
 6   10:05:00  5.0000     1   -4.0000
 7   10:10:00  4.0000    10    6.0000
 8   10:16:00  2.0000     1   -1.0000
 9   10:19:00  3.0000     5    2.0000
 10  10:23:00  3.0000     1   -2.0000
 11  10:27:00  3.0000    12    9.0000
 12  10:47:00  3.0000     1   -2.0000
 13  10:48:00  2.0000     1   -1.0000
 14  11:10:00  4.0000   103   99.0000
 15  11:12:00  3.0000    25   22.0000
 16  11:26:00  4.0000    43   39.0000
 17  11:33:00  2.0000     1   -1.0000
 18  11:43:00  3.0000   180  177.0000
 19  12:14:00  2.0000     3    1.0000
 20  12:50:00  5.0000     2   -3.0000
 21  12:53:00  4.0000     1   -3.0000
 22  13:33:00  5.0000    20   15.0000
 23  13:45:00  4.0000     1   -3.0000
 24  14:00:00  4.0000     1   -3.0000
 25  14:17:00  4.0000    11    7.0000
 26  14:28:00  2.0000     5    3.0000
 27  14:29:00  3.0000     2   -1.0000
 28  15:05:00  5.0000    57   52.0000
 29  15:17:00  5.0000    10    5.0000
 30  15:41:00  7.0000     1   -6.0000
 31  15:46:00 13.0000     1  -12.0000
 32  15:55:00 26.0000    35    9.0000,
 'HEES':          time       est  size   residual
 0    09:45:00  330.0000     1  -329.0000
 1    09:46:00  350.0000     1  -349.0000
 2    09:47:00  363.0000     1  -362.0000
 3    09:48:00  377.0000   100  -277.0000
 4    09:50:00  382.0000   539   157.0000
 ..        ...       ...   ...        ...
 329  15:51:00 1258.0000   913  -345.0000
 330  15:52:00 1466.0000   420 -1046.0000
 331  15:53:00 1514.0000   518  -996.0000
 332  15:54:00 1715.0000  1206  -509.0000
 333  15:55:00 1947.0000  1927   -20.0000

 [334 rows x 4 columns],
 'APPF':          time       est  size  residual
 0    09:45:00  146.0000   349  203.0000
 1    09:46:00  155.0000     3 -152.0000
 2    09:47:00  151.0000   143   -8.0000
 3    09:48:00  164.0000    10 -154.0000
 4    09:49:00  170.0000     6 -164.0000
 ..        ...       ...   ...       ...
 319  15:51:00  670.0000   615  -55.0000
 320  15:52:00  828.0000     6 -822.0000
 321  15:53:00  905.0000   277 -628.0000
 322  15:54:00 1083.0000   508 -575.0000
 323  15:55:00 1231.0000  1233    2.0000

 [324 rows x 4 columns],
 'CARA':          time       est  size   residual
 0    09:45:00 2085.0000  1005 -1080.0000
 1    09:46:00 2048.0000   106 -1942.0000
 2    09:47:00 2056.0000   517 -1539.0000
 3    09:48:00 2094.0000  2346   252.0000
 4    09:49:00 2231.0000  1308  -923.0000
 ..        ...       ...   ...        ...
 361  15:51:00 3619.0000  2990  -629.0000
 362  15:52:00 4117.0000  1737 -2380.0000
 363  15:53:00 4305.0000  2011 -2294.0000
 364  15:54:00 4640.0000  5577   937.0000
 365  15:55:00 5270.0000  2817 -2453.0000

 [366 rows x 4 columns],
 'SILK':          time       est  size  residual
 0    09:45:00  889.0000   781 -108.0000
 1    09:47:00  802.0000   456 -346.0000
 2    09:48:00  854.0000  3335 2481.0000
 3    09:49:00  838.0000   765  -73.0000
 4    09:50:00  876.0000   112 -764.0000
 ..        ...       ...   ...       ...
 348  15:51:00 2940.0000  5441 2501.0000
 349  15:52:00 3299.0000  2902 -397.0000
 350  15:53:00 3429.0000  3028 -401.0000
 351  15:54:00 3749.0000  4280  531.0000
 352  15:55:00 4261.0000  7492 3231.0000

 [353 rows x 4 columns],
 'RNR':          time       est  size   residual
 0    09:45:00  982.0000     1  -981.0000
 1    09:46:00 1022.0000    47  -975.0000
 2    09:47:00  991.0000     2  -989.0000
 3    09:48:00 1024.0000    51  -973.0000
 4    09:49:00 1051.0000    34 -1017.0000
 ..        ...       ...   ...        ...
 357  15:51:00 4353.0000  3347 -1006.0000
 358  15:52:00 4815.0000  4392  -423.0000
 359  15:53:00 5255.0000  5776   521.0000
 360  15:54:00 5888.0000  5753  -135.0000
 361  15:55:00 6608.0000  4003 -2605.0000

 [362 rows x 4 columns],
 'PEG':          time        est   size    residual
 0    09:45:00  4000.0000   5331   1331.0000
 1    09:46:00  3805.0000   3083   -722.0000
 2    09:47:00  3823.0000   4059    236.0000
 3    09:48:00  3806.0000    895  -2911.0000
 4    09:49:00  3885.0000   2533  -1352.0000
 ..        ...        ...    ...         ...
 366  15:51:00 15171.0000   8894  -6277.0000
 367  15:52:00 16442.0000  11805  -4637.0000
 368  15:53:00 17945.0000   7219 -10726.0000
 369  15:54:00 20446.0000  12614  -7832.0000
 370  15:55:00 23135.0000  15758  -7377.0000

 [371 rows x 4 columns],
 'PEP':          time        est   size    residual
 0    09:45:00 16069.0000  19317   3248.0000

In [16]:
metrics_dict = {}
for j in error_dict.keys():
    result = find_metrics(error_dict[j])
    metrics_dict[j] = result

In [17]:
f = open("russell_base_metrics.pkl","wb")

# write the python object (dict) to pickle file
pickle.dump(metrics_dict,f)

# close file
f.close()

In [18]:
metrics_dict

{'SR': 48.43563019167653,
 'ELS': 12.424035096943573,
 'MOV': 43.70130952443656,
 'MCRB': 3.705964327980516,
 'LEN': 0.7283131762666618,
 'TTI': 115.31502919109761,
 'TRMB': 4.7916755890592055,
 'OLN': 1.326183100632041,
 'CPRX': 25.781625323546788,
 'FDBC': 1.5727045123421939,
 'PCG': 2.676201068698076,
 'EVBG': 9.95125647988092,
 'LEA': 36.89102291416913,
 'FLXS': 11.445510550028937,
 'BUSE': 43.21545081247352,
 'G': 19.31332895699935,
 'BWFG': 3.061953702885228,
 'NBHC': 26.78470807421852,
 'XBIT': 21.932653356278088,
 'GCO': 23.884849284743492,
 'STNG': 8.95559940517685,
 'SFL': 89.26806703392158,
 'MCD': 0.7360970825723462,
 'GME': 1.4732837047843752,
 'VICI': 1.4827018217781038,
 'NATH': 2.0208805210036003,
 'HEES': 36.90832009626383,
 'APPF': 44.42090360385745,
 'CARA': 45.422004424805735,
 'SILK': 34.15450647532133,
 'RNR': 36.21491800945645,
 'PEG': 4.345201918885878,
 'PEP': 0.8139305308558885,
 'ESE': 21.5170922126468,
 'WWD': 10.360322441170196,
 'GPK': 13.177507256954408,
 'TFX': 12.159589712107971,
 'NFLX': 0.7121525350028046,
 'JOE': 40.77795025865784,
 'GEF': 18.084983536578434,
 'AMAL': 38.03976471037774,
 'HMTV': 49.09334200126447,
 'EVRI': 31.48091157502555,
 'JOUT': 6.450081005582861,
 'SGEN': 8.285752993866605,
 'GPRO': 8.170832275680112,
 'AGM': 9.618438250761645,
 'MRO': 0.6079716708894922,
 'MC': 28.795047192304718,
 'NX': 48.795350412816816,
 'HSKA': 27.462339172175046,
 'HSII': 23.805559352376527,
 'PRK': 19.63053299250083,
 'APH': 1.6548116979739533,
 'CRC': 37.30336802892233,
 'HCA': 0.7242251865943238,
 'YCBD': 77.12848925684716,
 'MUSA': 25.04885492022607,
 'LLNW': 33.146151737373025,
 'DUK': 0.8679880581019546,
 'CR': 28.396316223481158,
 'SGRY': 22.030934475617197,
 'PTCT': 43.82152997792398,
 'EZPW': 82.75036796793212,
 'KRA': 17.09591080784642,
 'INCY': 1.2493067308036827,
 'NP': 13.112765871210668,
 'NXRT': 22.030101870109444,
 'FRBA': 4.820400421600694,
 'STC': 42.24217704791009,
 'CHRA': 21.044486302064815,
 'SBCF': 20.57671090730028,
 'OSW': 66.40721789601652,
 'TH': 64.06561277811795,
 'APA': 0.9307357257788674,
 'VGR': 101.97858211413913,
 'CSX': 0.8329515378644181,
 'EVRG': 12.572612428155306,
 'PII': 18.330049856325374,
 'VC': 42.426310183676904,
 'RGEN': 14.523890134772495,
 'BIG': 20.05742456568565,
 'KRUS': 13.290853677213148,
 'ABC': 3.7703054975656576,
 'BLDR': 0.532918415756703,
 'ENSG': 14.125319785813447,
 'BHB': 5.653901970966769,
 'EXTN': 4.6648711704479675,
 'BSGM': 47.915006729511504,
 'UUUU': 1.882172211298108,
 'PXD': 1.1884436969999577,
 'AMSC': 40.7781351385695,
 'VYGR': 26.556206051111964,
 'CHCO': 10.734444063586293,
 'MCHP': 1.1957467024220796,
 'SGMO': 41.06830483686214,
 'STAR': 63.02780007943205,
 'DHT': 33.22263934505363,
 'TOL': 0.8458393447442141,
 'PWOD': 6.885179617143915,
 'ALLE': 3.991210353883357,
 'EMN': 2.253698065533837,
 'STXB': 12.192063005981353,
 'RDUS': 23.311437484383802,
 'FISI': 20.813834661875973,
 'GCBC': 2.4511866327474645,
 'AXGN': 107.40009985733853}