In [4]:
from new_daily_model import *

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [23]:
daily_file = 'data/russell/russell_daily.csv'
vix_file = 'data/vix_prices.csv'
ticker = 'MCD'

In [4]:
df = evaluation(daily_file, vix_file, ticker)

In [5]:
df

,total_vol_m,baseline,overnight_model,robustARMA_model,combined_model,combinedVIX_model
DATE,,,,,,
2021-01-04,3740161.0,2283696.0,2346851.0,2382086.0,2382086.0,2385670.0
2021-01-05,2326128.0,3030228.0,3049286.0,3220874.0,3220874.0,3269758.0
2021-01-06,2919898.0,2547653.0,2671597.0,2626065.0,2626065.0,2651822.0
2021-01-07,2857405.0,2714025.0,2834854.0,2842639.0,2842639.0,2868132.0
2021-01-08,2533158.0,2771367.0,2871015.0,2868458.0,2868458.0,2870263.0
...,...,...,...,...,...,...
2021-12-27,1456776.0,1890886.0,1898078.0,1736680.0,1736680.0,1696755.0
2021-12-28,1226092.0,1754779.0,1747755.0,1643168.0,1643168.0,1602844.0
2021-12-29,1256084.0,1593449.0,1554334.0,1461267.0,1461267.0,1424886.0
2021-12-30,1651587.0,1504881.0,1481746.0,1420748.0,1420748.0,1382627.0
2021-12-31,1465794.0,1629301.0,1631787.0,1638283.0,1638283.0,1595904.0

In [6]:
df.loc[df['robustARMA_model'] != df['combined_model']]

,total_vol_m,baseline,overnight_model,robustARMA_model,combined_model,combinedVIX_model
DATE,,,,,,
2021-03-17,4705113.0,3586646.0,4443779.0,3260256.0,4113131.0,4642087.0
2021-07-28,4637739.0,2669435.0,3514077.0,2862416.0,3522803.0,3855394.0
2021-10-27,5012947.0,2744869.0,3574924.0,2976376.0,3644848.0,4139027.0
2021-11-26,2488519.0,2249988.0,2923555.0,2465941.0,3001485.0,3246606.0

In [7]:
df['baseline_error'] = abs(df['total_vol_m'] - df['baseline'])/df['total_vol_m']
df['overnight_error'] = abs(df['total_vol_m'] - df['overnight_model'])/df['total_vol_m']
df['robustARMA_error'] = abs(df['total_vol_m'] - df['robustARMA_model'])/df['total_vol_m']
df['combined_error'] = abs(df['total_vol_m'] - df['combined_model'])/df['total_vol_m']
df['combinedVIX_error'] = abs(df['total_vol_m'] - df['combinedVIX_model'])/df['total_vol_m']

In [8]:
print(f"baseline: {df['baseline_error'].mean()}")
print(f"overnight: {df['overnight_error'].mean()}")
print(f"robustARMA: {df['robustARMA_error'].mean()}")
print(f"combined: {df['combined_error'].mean()}")
print(f"combinedVIX: {df['combinedVIX_error'].mean()}")

baseline: 0.20491459097689185
overnight: 0.21166960608048954
robustARMA: 0.20426867278628247
combined: 0.20323713044593922
combinedVIX: 0.1982420754457893

In [5]:
vix = pd.read_csv(vix_file)
vix.loc[vix['vix'].isna()]

         Date  vix
567  20210402  NaN
646  20210725  NaN
754  20211224  NaN

In [10]:
    with open("data/russell/Russell_Sample.txt", 'r') as f:
        tickers = f.read().splitlines()

In [11]:
tickers

['ABC',
 'PXD',
 'ALLE',
 'CRWD',
 'LNT',
 'SGEN',
 'LUMN',
 'DUK',
 'CSX',
 'NFLX',
 'EVBG',
 'CSGP',
 'TOL',
 'OPEN',
 'VICI',
 'LEA',
 'WWD',
 'BRK.B',
 'PCG',
 'EMN',
 'MCHP',
 'WTW',
 'HCA',
 'PEP',
 'BLDR',
 'EOG',
 'GPK',
 'AIRC',
 'LEN',
 'ANET',
 'APH',
 'MRO',
 'RNR',
 'PEG',
 'G',
 'FANG',
 'ISRG',
 'TRMB',
 'INCY',
 'BSY',
 'TFX',
 'EVRG',
 'FLO',
 'PII',
 'ELS',
 'APA',
 'OLN',
 'MCD',
 'PCTY',
 'CR',
 'ENSG',
 'STAR',
 'GME',
 'EXTN',
 'SILK',
 'ESE',
 'GCO',
 'CRC',
 'RDUS',
 'HSKA',
 'VYGR',
 'PWOD',
 'SR',
 'NATH',
 'CPRX',
 'LLNW',
 'YCBD',
 'NP',
 'STOK',
 'HEES',
 'BHB',
 'TTI',
 'GCBC',
 'STNG',
 'TRWH',
 'CHRA',
 'FBM',
 'CHCO',
 'GEF',
 'BSGM',
 'PEBK',
 'SNR',
 'CSLT',
 'FRBA',
 'EBS',
 'HMTV',
 'TMDX',
 'AIMT',
 'SONA',
 'ROAN',
 'AXGN',
 'BUSE',
 'MIK',
 'LBC',
 'SGMO',
 'SGRY',
 'FDBC',
 'STC',
 'TH',
 'UUUU',
 'VC',
 'RUBI',
 'VGR',
 'AYR',
 'FISI',
 'UMBF',
 'JOE',
 'SBCF',
 'FLXS',
 'YRCW',
 'CARA',
 'APPF',
 'GPRO',
 'KRA',
 'PTCT',
 'RECN',
 'OSW',
 'DHT',
 'MOV',
 'SFL',
 'HSII',
 'EROS',
 'MUSA',
 'MCRB',
 'EVRI',
 'KRUS',
 'NXRT',
 'NBHC',
 'PRK',
 'RGEN',
 'CBMG',
 'EZPW',
 'AMSC',
 'ARA',
 'MC',
 'QADA',
 'ETM',
 'AGM',
 'ANH',
 'BIG',
 'CHMA',
 'JOUT',
 'BWFG',
 'XBIT',
 'STXB',
 'DOC',
 'NX',
 'HUD',
 'OPTN',
 'AMAL']

In [5]:
import plotly.express as px
import plotly.graph_objects as go

In [12]:
models = pd.read_csv('data/daily_compare/model_comparison.csv')

models.dropna(inplace=True)
models = models.loc[~(models['ticker'].isin(['CHRA','ANET','CSX', 'GME']))]
                   
for col in models.columns[2:]:
    models[col] = (models['baseline'] - models[col])
    
fig = px.bar(models, x="ticker", y=models.columns[2:], 
             labels={'variable':'Model', 'value':'Error Improvement % Over Baseline in 2021'}, barmode="group")
fig.update_xaxes(tickangle=-45)
fig.show()

'                      \nfor col in models.columns[2:]:\n    models[col] = (models[\'baseline\'] - models[col])\n    \nfig = px.bar(models, x="ticker", y=models.columns[2:], \n             labels={\'variable\':\'Model\', \'value\':\'Error Improvement % Over Baseline in 2021\'}, barmode="group")\nfig.update_xaxes(tickangle=-45)\nfig.show()\n'

In [13]:
models.set_index('ticker', inplace=True)

In [14]:
models['best'] = models.idxmin(axis=1)

In [15]:
models['best'].value_counts()

robust_overnight_vix    68
baseline                44
robustARMA              14
robust_overnight         7
overnight                1
Name: best, dtype: int64

In [18]:
models[1:].mean()

baseline                0.341951
overnight               0.342940
robustARMA              0.326731
robust_overnight        0.328112
robust_overnight_vix    0.327053
dtype: float64

In [ ]:
#avg improvement when model is better
models.loc[models['robust_overnight_vix'] > 0].mean()[1:]

In [ ]:
#avg degrade when model is worse
models.loc[models['robust_overnight_vix'] < 0].mean()[1:]

In [ ]:
pct_improve = len(models.loc[models['robust_overnight_vix'] > 0])/len(models)
pct_improve

#### Conclusion: Need better filtering or dynamic model selection to decide if we should include overnight gap and/or VIX. robust ARMA performs consistency enough that it should be included. Need to try robust + VIX (exclude overnight gap)

In [ ]:
fig = px.bar(models.loc[models['robust_overnight_vix'] > 0], x="ticker", y=models.columns[2:], 
             labels={'variable':'Model', 'value':'Error Improvement % Over Baseline in 2021'}, barmode="group")
fig.update_xaxes(tickangle=-45)
fig.show()

In [ ]:
fig = px.bar(models.loc[models['robust_overnight_vix'] < 0], x="ticker", y=models.columns[2:], 
             labels={'variable':'Model', 'value':'Error Improvement % Over Baseline in 2021'}, barmode="group")
fig.update_xaxes(tickangle=-45)
fig.show()