In [2]:
import pandas as pd
import numpy as np
import csv

In [94]:
def ove_price_generator (csv_file_input, csv_file_output):
    '''
    function for generating overnight stock price
    based on the subtraction of current day opening price 
    and closing price on the day before.
    
    Input:
        TAQ file with all selected stocks 
    
    Output:
        return updated file with overnight price gaps
        NaN represents the first trading day which doesn't
        have overnight gap.
    '''
    stock_data = pd.read_csv(csv_file_input)
    overnight_gap = - stock_data.groupby('symbol')['CPrc'].shift(1) \
                    + stock_data['OPrc']
    stock_data['Ovn_Gap'] = round(overnight_gap, 2)
    stock_data.to_csv(csv_file_output)
    return

In [92]:
ove_price_generator('sushan_daily.csv','sushan_daily_updated.csv')

In [93]:
check_result = pd.read_csv('sushan_daily_updated.csv')
check_result

,Unnamed: 0,DATE,SYM_ROOT,total_vol,symbol,CSize,CPrc,OPrc,total_vol_m,total_vol_b,total_vol_a,Ovn_Gap
0,0,2018/12/31,BA,3000834,BA,331313,322.50,320.50,3333107,17615.0,222859.0,NaN
1,1,2018/12/31,COST,1369099,COST,289945,203.71,203.38,1659184,4941.0,65527.0,NaN
2,2,2018/12/31,CRM,4802355,CRM,467546,136.97,136.00,5267687,58227.0,142087.0,NaN
3,3,2018/12/31,DLTR,2306510,DLTR,212986,90.32,88.11,2519597,670.0,78004.0,NaN
4,4,2018/12/31,EL,1045862,EL,167841,130.10,129.73,1213812,1.0,19835.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8324,8324,2021/12/27,SBUX,2894406,SBUX,484946,114.22,112.60,3378898,7058.0,331495.0,0.23
8325,8325,2021/12/28,SBUX,3693532,SBUX,472870,115.57,114.00,4166006,11711.0,386291.0,-0.22
8326,8326,2021/12/29,SBUX,3575698,SBUX,548041,116.38,115.77,4121948,7773.0,86059.0,0.20
8327,8327,2021/12/30,SBUX,3314908,SBUX,620765,116.24,116.38,3934759,6716.0,127713.0,0.00
8328,8328,2021/12/31,SBUX,2844098,SBUX,675529,116.97,116.05,3519724,4868.0,150648.0,-0.19

In [83]:
stock_data[stock_data['symbol'].str.contains('BA')]

,DATE,SYM_ROOT,total_vol,symbol,CSize,CPrc,OPrc,total_vol_m,total_vol_b,total_vol_a,Ovn_Gap
0,2018/12/31,BA,3000834,BA,331313,322.50,320.50,3333107,17615.0,222859.0,NaN
11,2019/01/02,BA,2615881,BA,344277,323.81,315.51,2960345,29263.0,303300.0,-6.99
12,2019/01/03,BA,4930361,BA,326533,310.90,318.53,5255368,31021.0,431490.0,-5.28
13,2019/01/04,BA,3674863,BA,463794,327.08,316.69,4139757,42039.0,288650.0,5.79
14,2019/01/07,BA,3064577,BA,359758,328.11,330.30,3422972,24279.0,583696.0,3.22
...,...,...,...,...,...,...,...,...,...,...,...
5804,2021/12/27,BA,7271163,BA,253331,203.17,201.96,7523713,95126.0,208367.0,-2.26
5805,2021/12/28,BA,8333741,BA,240289,206.13,202.23,8574671,62362.0,256928.0,-0.94
5806,2021/12/29,BA,5645408,BA,240570,203.66,205.05,5886519,47561.0,188310.0,-1.08
5807,2021/12/30,BA,6693702,BA,159322,202.71,203.00,6854595,49387.0,110237.0,-0.66
5808,2021/12/31,BA,7565632,BA,356882,201.32,202.20,7922868,45020.0,85616.0,-0.51