In [67]:
import pandas as pd
import numpy as np
import sklearn as sci
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta
from datetime import time

In [2]:
## initial dataframe
df = pd.read_csv("jejllavsnfamoexg.csv")

/Users/bengoldman/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
#Stock Dataframes
BAC = df.loc[df.SYM_ROOT == 'BAC'].reset_index().drop(['index'],axis=1)
BBI = df.loc[df.SYM_ROOT == 'BBI'].reset_index().drop(['index'],axis=1)
DIS = df.loc[df.SYM_ROOT == 'DIS'].reset_index().drop(['index'],axis=1)
HD = df.loc[df.SYM_ROOT == 'HD'].reset_index().drop(['index'],axis=1)
LUV = df.loc[df.SYM_ROOT == 'LUV'].reset_index().drop(['index'],axis=1)
MRNA = df.loc[df.SYM_ROOT == 'MRNA'].reset_index().drop(['index'],axis=1)
MSFT = df.loc[df.SYM_ROOT == 'MSFT'].reset_index().drop(['index'],axis=1)
PYPL = df.loc[df.SYM_ROOT == 'PYPL'].reset_index().drop(['index'],axis=1)
SPCE = df.loc[df.SYM_ROOT == 'SPCE'].reset_index().drop(['index'],axis=1)

In [19]:
##Test on BAC on 11/01/2021
## Truncate the strings from milliseconds to seconds and set to date-time objects

#read into datetime objects

first = BAC.loc[BAC.DATE == '11/01/2021']
def truncate(s):
    return s[:-10]
first.TIME_M = first.TIME_M.apply(truncate)
volumes = first.groupby('TIME_M').SIZE.sum().array
times = first.groupby('TIME_M').SIZE.sum().index
df = first.groupby('TIME_M').SIZE.sum().to_frame()
df = df.reset_index()

#takes in date as a string in MM/DD/YYYY format
#convert to 24 hour time for consistency

df['TIME_M'] = pd.to_datetime(df['TIME_M'],format= '%H:%M:%S')
def to24hours(t):
    if t.hour < 5:
        return datetime(t.year,t.month,t.day, t.hour + 12, t.minute, t.second)
    else:
        return t
df['TIME_M']= df.TIME_M.apply(to24hours)
def makeDateTime(x,date):
    return datetime(int(date[6:]),int(date[:2]),int(date[3:5]), x.hour, x.minute, x.second)
df['TIME_M'] = df.TIME_M.apply(makeDateTime, args = ("11/01/2021",))

In [117]:
## Produce the histogram of log volume
#x-axis = array of datetime objects
#y-axis = volumes
#plt.plot(x,y)
df = df.sort_values(by='TIME_M', ascending = 'False')
x = df.TIME_M.values
y = np.array(df.SIZE)
y = np.log(y)
fig = plt.figure()
p = fig.add_subplot()
p.plot(x,y)
fig.show()
plt.hist(y, bins = 100)

         DATE             TIME_M SYM_ROOT SYM_SUFFIX  SIZE
0  11/01/2021  4:00:00.015867648      BAC        NaN    11
1  11/01/2021  4:02:18.378850560      BAC        NaN   100
2  11/01/2021  4:02:18.378855424      BAC        NaN     2
3  11/01/2021  4:02:18.378855424      BAC        NaN   198
4  11/01/2021  4:04:06.842462720      BAC        NaN   130